.App {
  text-align: center;
  background-color: #382c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Gugi', cursive;
}

.imageContainer {
  max-width: 800px;
  max-height: 450px;
  height: auto;
  width: auto;
  background-size: contain;
  background-repeat: repeat-x;
  margin: auto;
  outline: solid 10px white;
  outline-offset: -10px;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.dropdown {
  margin-top: 2em;
  font-size: 0.75em;
}
